#overlay_notification--wraper {
  display: flex;
  justify-content: end;
  opacity: 1;
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);

  #overlay_notification--main-wraper {
    display: flex;
    flex-direction: column;
    opacity: 0;
    width: 450px;
    height: 100%;
    background-color: #fff;
    animation: silde-out 0.5s linear forwards;
    #overlay_notification--head {
      padding: 10px 20px;
      box-shadow: 0 1px 0 #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #btn_close_overlay {
        display: inline-block;
        font-size: 20px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
          color: #9f9d9d;
        }
      }
    }

    #overlay_notification--content {
      flex: 1;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .btn_redirect {
        position: relative;
        height: 100%;
        & > div {
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -20%);
        }
      }
      #overlay_notification--content--cart {
        padding: 10px;
        .overlay_notification--content--cart--item {
          padding: 10px;
          .overlay_notification--content--cart--item-image {
            & > img {
              width: 70px;
              border-radius: 3px;
            }
          }
          .overlay_notification--content--cart--item-quantity {
            padding: 0 10px;
            & > input {
              width: 45px;
              padding: 10px;
              outline: none;
              border: 1px solid #ccc;
              border-radius: 5px;
            }
          }
          .overlay_notification--content--cart--item-btn_delete {
            padding: 0 10px;
            .btn_delete-cart-item {
              font-size: 20px;
              cursor: pointer;
              color: rgb(168, 162, 162);
              transition: color 0.2s linear;
              &:hover {
                color: #000000;
              }
            }
          }
        }
      }
    }

    #overlay_notification--payment {
      box-shadow: 0 -1px 0 #ccc;
      padding: 20px;
    }
  }
}

.overlay_in {
  animation-name: overlay_notification_appear;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.overlay_out {
  animation: overlay_notification_out 0.3s linear forwards;
}

@keyframes overlay_notification_appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlay_notification_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes displayNone {
  to {
    display: none;
  }
}
