#default_wrapper {
  position: relative;
}

#header_wraper {
  opacity: 0;
  animation: appear-header 0.7s linear forwards;
}

@keyframes appear-header {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar_item:hover {
  color: black;
}

.navbar_item.active {
  color: var(--color-main) !important;
}

.navbar_item-cart {
  background-color: var(--color-main) !important;
}

#footer_wraper {
  background-color: var(--color-footer);
}

.social_network {
  box-shadow: 0 -1px 0 rgba(204, 204, 204, 0.3);
}
