.table_admin-item {
  background-color: #3a3b44;
  padding: 20px;
  border-radius: 8px;

  p {
    margin-bottom: 0;
  }

  .table_all_product-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      input {
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        outline: none;
        box-shadow: 0 0 0 1px #bbb;
        border-radius: 5px;
        background-color: #3a3b44;
      }
    }
    .table_all_product-head-show_entries {
      label {
        select {
          padding: 5px 20px;
          width: max-content;
          background-color: #3a3b44;
          border: 1px solid #fff;
          border-radius: 5px;
          margin: 0 10px;
        }
      }
    }
    .table_all_product-head-search {
      label {
        input {
          padding: 5px 15px;
        }
      }
    }
  }

  .table_all_product-body {
    table {
      width: 100%;
      box-shadow: 0 0 0 1px var(--color-admin-main-opacity);
      border-radius: 3px;
    }

    table thead,
    table tbody tr {
      box-shadow: 0 1px 0 var(--color-admin-main-opacity);
    }

    table th {
      padding: 15px 30px;
    }
    table td {
      padding: 2px 30px;
    }

    table th,
    table td {
      text-align: left;
      width: max-content;
    }

    table th span {
      display: inline-block;
      width: max-content;
      text-transform: capitalize;
      font-size: 0.8rem;
    }

    padding: 20px 0;
  }

  .table_all_product-body-item {
    .table_all_product-body-item-name {
    }
    .table_all_product-body-item-date_created {
    }

    .table_all_product-body-item-price {
    }

    .table_all_product-body-item-status {
      &.active {
        span {
          background: linear-gradient(
            to right,
            rgb(11, 188, 11),
            rgb(12, 122, 12)
          );
          padding: 5px 10px;
          border-radius: 8px;
          font-weight: 700;
          font-size: 0.7em;
          text-transform: capitalize;
        }
      }
      &.inactive {
        span {
          background: linear-gradient(
            to right,
            rgb(114, 114, 114),
            rgb(52, 52, 52)
          );
          padding: 5px 10px;
          border-radius: 8px;
          font-weight: 700;
          font-size: 0.7em;
          text-transform: capitalize;
        }
      }
    }

    .table_all_product-body-item-action {
      .table_all_product-body-item-action-btn {
        --data: 45px;
        width: var(--data);
        height: var(--data);
        font-size: 1.2em;
        border-radius: 8px;
        &.remove {
          margin-top: 5px;
          margin-bottom: 5px;
          background-color: #c77171;
          &:hover {
            background-color: #d95151;
          }
        }

        &.update {
          margin-top: 5px;
          margin-right: 10px;
          margin-bottom: 5px;

          background-color: #4693de;
          &:hover {
            background-color: #2486e8;
          }
        }
      }
    }
  }

  .table_all_product-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .table_all_product-pagination-btn {
      &:first-child {
        button {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }
      &:last-child {
        button {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      .table_all_product-pagination-btn-item {
        // background-color: #d95151;
        text-transform: capitalize;
        padding: 10px 20px;
        box-shadow: 0 0 0 1px var(--color-admin-main-opacity);

        &.active {
        }

        &.inActive {
        }
      }
    }
    .table_all_product-pagination-list {
      display: flex;
      // padding: 0 20px;
      .table_all_product-pagination-list-item {
        // background-color: #4693de;
        --data: 45px;
        width: var(--data);
        height: var(--data);
        box-shadow: 0 0 0 1px var(--color-admin-main-opacity);
        &.active {
          background-color: #2486e8;
        }
      }
    }
  }
}
